<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace=绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.mybatis.dao.UserMapper">
    <!-- id=UserMapper接口中的方法名 resultType=sql语句返回的结果类型，写全限定名-->
    <select id="getUserList" resultType="com.mybatis.pojo.User">
        select * from mybatis.user;
    </select>

    <select id="getUserById" parameterType="int" resultType="com.mybatis.pojo.User">
        select * from mybatis.user where id=#{id};
    </select>

    <insert id="addUser" parameterType="com.mybatis.pojo.User">
        insert into mybatis.user(id, name, pwd) value (#{id}, #{name}, #{pwd});
    </insert>

    <delete id="deleteUser" parameterType="com.mybatis.pojo.User">
        delete from mybatis.user where id=#{id};
    </delete>

    <update id="updateUser" parameterType="com.mybatis.pojo.User">
        update mybatis.user set name=#{name}, pwd=#{pwd}  where id=#{id};
    </update>
</mapper>